{% load static %}
<html>
    <head>
        <title>ose blog</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>    
    <body>
        <div>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Blog Posts</a></h1>
            </div>
        </header>
        <a href="{% url 'new_post' %}">+ New  Blog Post</a>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    {% block content %}
    {% endblock content %}
    </div>
    </body>
</html>